# Examine census response rates, with data at state and census tract levels
## 2020 response rates from: https://2020census.gov/en/response-rates.html
## 2010 response rates from: https://api.census.gov/data/2010/dec/responserate/variables.html
## Demographic information in 2014-2018 ACS 5-year-estimate from: https://data2.nhgis.org/main

In [99]:
import pandas as pd
import numpy as np

# in excel changed original dates from m/d/yyyy to yyyy-mm-dd
initial_df = pd.read_csv('decennialrr2020_working.csv')
# had to resave as UTF-8 CSV, hence the 2
crosswalk = pd.read_csv('decennialrr2020_crosswalkfile2.csv')
# states paired with region as defined by census map at https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf
regions = pd.read_csv('state_region.csv')

## Columns


GEO_ID = Geographic Identifier

RESP_DATE = Posting Date

State = name of state (one of the 50 states, District of Columbia, Puerto Rico, or NaN)

Geo_Name = name of the tract, county, state

Region = region of the U.S. in which state is located as defined by census map at https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf

Geo_Type = type of geography; possible answers include Census Tract, Congressional District, Consolidated City, Country, County, County Subdivision, Place, Region, State, Tribal Tract, Tribal Area

DRRINT = Daily Self-Response Rate - Internet

DRRALL = Daily Self-Response Rate – Overall

CRRINT = Cumulative Self-Response Rate - Internet

not_int = new calculated column showing response rate NOT from internet

CRRALL = Cumulative Self-Response Rate – Overall

DINTMIN = Minimum Daily Internet Self-Response Rate

DMIN = Minimum Daily Overall Self-Response Rate

CINTMIN = Minimum Cumulative Internet Self-Response Rate

CMIN = Minimum Cumulative Overall Self-Response Rate

DINTMAX = Maximum Daily Internet Self-Response Rate

DMAX = Maximum Daily Overall Self-Response Rate

CINTMAX = Maximum Cumulative Internet Self-Response Rate

CMAX = Maximum Cumulative Overall Self-Response Rate

DINTAVG = Average Daily Internet Self-Response Rate

DAVG = Average Daily Overall Self-Response Rate

CINTAVG = Average Cumulative Internet Self-Response Rate

CAVG = Average Cumulative Overall Self-Response Rate

DINTMED = Median Daily Internet Self-Response Rate

DMED = Median Daily Overall Self-Response Rate

CINTMED = Median Cumulative Internet Self-Response Rate

CMED = Median Cumulative Overall Self-Response Rate

In [110]:
# merge responses and crosswalk
merged1 = pd.merge(initial_df, crosswalk, on='GEO_ID')

#merge merged1 with region data
merged = pd.merge(merged1, regions, on='State')

# create column showing responses not from internet
merged['not_int'] = merged.CRRALL - merged.CRRINT

#reorder columns to move State, Geo_Name and Geo_Type to front; also going to drop some values
cols = merged.columns.tolist()
cols = ['GEO_ID', 'RESP_DATE', 'State', 'Geo_Name', 'Region', 'Geo_Type', 
        'CRRINT', 'not_int', 'CRRALL']
merged = merged[cols]
merged = merged.rename(columns={'CRRINT':'internet', 'CRRALL':'2020_rate'})
merged

,GEO_ID,RESP_DATE,State,Geo_Name,Region,Geo_Type,internet,not_int,2020_rate
0,0100000US,6/9/2020,NaN,United States,na,Country,48.9,11.9,60.8
1,0200000US1,6/9/2020,NaN,Northeast,na,Region,48.9,11.3,60.2
2,0200000US2,6/9/2020,NaN,Midwest,na,Region,52.6,13.4,66.0
3,0200000US3,6/9/2020,NaN,South,na,Region,45.2,12.8,58.0
4,0200000US4,6/9/2020,NaN,West,na,Region,51.7,9.4,61.1
...,...,...,...,...,...,...,...,...,...
123245,2560000US4755T00100,6/9/2020,Tribal Land,"T001, Ysleta del Sur",Tribal Land,Tribal Tract,31.8,0.9,32.7
123246,2560000US4760T00100,6/9/2020,Tribal Land,"T001, Yurok",Tribal Land,Tribal Tract,10.1,0.1,10.2
123247,2560000US4770T00100,6/9/2020,Tribal Land,"T001, Zia",Tribal Land,Tribal Tract,16.4,0.5,16.9
123248,2560000US4785T00100,6/9/2020,Tribal Land,"T001, Zuni",Tribal Land,Tribal Tract,7.8,0.1,7.9
123249,2560000US4785T00200,6/9/2020,Tribal Land,"T002, Zuni",Tribal Land,Tribal Tract,10.0,0.0,10.0

## Census Tracts

In [111]:
# just census tract geo types
tracts = merged[merged['Geo_Type'].str.contains("Tract")]

# highest cumulative response rate (CRRALL)
tracts.sort_values(by='2020_rate', ascending=False)

,GEO_ID,RESP_DATE,State,Geo_Name,Region,Geo_Type,internet,not_int,2020_rate
26459,1400000US13215010606,6/9/2020,Georgia,"Tract 106.06, Muscogee",South,Census Tract,0.0,98.1,98.1
49682,1400000US25013812903,6/9/2020,Massachusetts,"Tract 8129.03, Hampden",Midwest,Census Tract,86.2,6.9,93.1
53285,1400000US26099223801,6/9/2020,Michigan,"Tract 2238.01, Macomb",Midwest,Census Tract,86.1,6.5,92.6
54097,1400000US26139021605,6/9/2020,Michigan,"Tract 216.05, Ottawa",Midwest,Census Tract,85.4,7.0,92.4
113068,1400000US51059492202,6/9/2020,Virginia,"Tract 4922.02, Fairfax",South,Census Tract,88.9,3.3,92.2
...,...,...,...,...,...,...,...,...,...
74413,1400000US36061000500,6/9/2020,New York,"Tract 5, New York",Northeast,Census Tract,0.0,0.0,0.0
7920,1400000US06037277400,6/9/2020,California,"Tract 2774, Los Angeles",West,Census Tract,0.0,0.0,0.0
122998,2560000US2147T00100,6/9/2020,Tribal Land,"T001, Mashpee Wampanoag",Tribal Land,Tribal Tract,0.0,0.0,0.0
3402,1400000US04017940010,6/9/2020,Arizona,"Tract 9400.10, Navajo",West,Census Tract,0.0,0.0,0.0
53490,1400000US26099982100,6/9/2020,Michigan,"Tract 9821, Macomb",Midwest,Census Tract,0.0,0.0,0.0

#### Tribal tracts

In [113]:
# response rates in tribal tracts
tribal = tracts[tracts['Geo_Type'].str.contains("Tribal")]
tribal.sort_values(by='2020_rate', ascending=False)

tribal

,GEO_ID,RESP_DATE,State,Geo_Name,Region,Geo_Type,internet,not_int,2020_rate
122824,2560000US0010T00100,6/9/2020,Tribal Land,"T001, Acoma",Tribal Land,Tribal Tract,8.2,1.3,9.5
122825,2560000US0020T00100,6/9/2020,Tribal Land,"T001, Agua Caliente",Tribal Land,Tribal Tract,41.8,6.6,48.4
122826,2560000US0020T00200,6/9/2020,Tribal Land,"T002, Agua Caliente",Tribal Land,Tribal Tract,33.7,5.5,39.2
122827,2560000US0020T00300,6/9/2020,Tribal Land,"T003, Agua Caliente",Tribal Land,Tribal Tract,49.6,11.1,60.7
122828,2560000US0020T00400,6/9/2020,Tribal Land,"T004, Agua Caliente",Tribal Land,Tribal Tract,42.2,9.0,51.2
...,...,...,...,...,...,...,...,...,...
123245,2560000US4755T00100,6/9/2020,Tribal Land,"T001, Ysleta del Sur",Tribal Land,Tribal Tract,31.8,0.9,32.7
123246,2560000US4760T00100,6/9/2020,Tribal Land,"T001, Yurok",Tribal Land,Tribal Tract,10.1,0.1,10.2
123247,2560000US4770T00100,6/9/2020,Tribal Land,"T001, Zia",Tribal Land,Tribal Tract,16.4,0.5,16.9
123248,2560000US4785T00100,6/9/2020,Tribal Land,"T001, Zuni",Tribal Land,Tribal Tract,7.8,0.1,7.9
123249,2560000US4785T00200,6/9/2020,Tribal Land,"T002, Zuni",Tribal Land,Tribal Tract,10.0,0.0,10.0

In [114]:
### tribal areas and tracts stats

#mean non internet response
tribal.mean(axis=0)['not_int']

6.115962441314556

In [115]:
# mean internet response rate
tribal.mean(axis=0)['internet']

19.630281690140855

In [116]:
# mean overall response rate
tribal.mean(axis=0)['2020_rate']

25.7462441314554

#### Tracts with 0 overall response rate

In [117]:
## Tracts with 0 cumulative response rate: 28
is_zero = tracts['2020_rate'] == 0.0
zeros = tracts[is_zero]
zeros.sort_values(by='State')

,GEO_ID,RESP_DATE,State,Geo_Name,Region,Geo_Type,internet,not_int,2020_rate
2218,1400000US04001944202,6/9/2020,Arizona,"Tract 9442.02, Apache",West,Census Tract,0.0,0.0,0.0
2220,1400000US04001944302,6/9/2020,Arizona,"Tract 9443.02, Apache",West,Census Tract,0.0,0.0,0.0
2300,1400000US04005942202,6/9/2020,Arizona,"Tract 9422.02, Coconino",West,Census Tract,0.0,0.0,0.0
2305,1400000US04005980000,6/9/2020,Arizona,"Tract 9800, Coconino",West,Census Tract,0.0,0.0,0.0
3401,1400000US04017940008,6/9/2020,Arizona,"Tract 9400.08, Navajo",West,Census Tract,0.0,0.0,0.0
3402,1400000US04017940010,6/9/2020,Arizona,"Tract 9400.10, Navajo",West,Census Tract,0.0,0.0,0.0
7920,1400000US06037277400,6/9/2020,California,"Tract 2774, Los Angeles",West,Census Tract,0.0,0.0,0.0
9345,1400000US06037980020,6/9/2020,California,"Tract 9800.20, Los Angeles",West,Census Tract,0.0,0.0,0.0
13265,1400000US06083980100,6/9/2020,California,"Tract 9801, Santa Barbara",West,Census Tract,0.0,0.0,0.0
17975,1400000US10001980000,6/9/2020,Delaware,"Tract 9800, Kent",South,Census Tract,0.0,0.0,0.0
18595,1400000US12005000700,6/9/2020,Florida,"Tract 7, Bay",South,Census Tract,0.0,0.0,0.0
46001,1400000US22125951703,6/9/2020,Louisiana,"Tract 9517.03, West Feliciana",South,Census Tract,0.0,0.0,0.0
53490,1400000US26099982100,6/9/2020,Michigan,"Tract 9821, Macomb",Midwest,Census Tract,0.0,0.0,0.0
53125,1400000US26083980100,6/9/2020,Michigan,"Tract 9801, Keweenaw",Midwest,Census Tract,0.0,0.0,0.0
73127,1400000US36047005303,6/9/2020,New York,"Tract 53.03, Kings",Northeast,Census Tract,0.0,0.0,0.0
74413,1400000US36061000500,6/9/2020,New York,"Tract 5, New York",Northeast,Census Tract,0.0,0.0,0.0
75224,1400000US36081000104,6/9/2020,New York,"Tract 1.04, Queens",Northeast,Census Tract,0.0,0.0,0.0
88881,1400000US40109980003,6/9/2020,Oklahoma,"Tract 9800.03, Oklahoma",South,Census Tract,0.0,0.0,0.0
88882,1400000US40109980005,6/9/2020,Oklahoma,"Tract 9800.05, Oklahoma",South,Census Tract,0.0,0.0,0.0
93639,1400000US42019980100,6/9/2020,Pennsylvania,"Tract 9801, Butler",Northeast,Census Tract,0.0,0.0,0.0
121905,1400000US72049950500,6/9/2020,Puerto Rico,"Tract 9505, Culebra",Puerto Rico,Census Tract,0.0,0.0,0.0
100908,1400000US47037980100,6/9/2020,Tennessee,"Tract 9801, Davidson",South,Census Tract,0.0,0.0,0.0
123033,2560000US2430T01800,6/9/2020,Tribal Land,"T018, Navajo Nation",Tribal Land,Tribal Tract,0.0,0.0,0.0
122937,2560000US1440T00100,6/9/2020,Tribal Land,"T001, Havasupai",Tribal Land,Tribal Tract,0.0,0.0,0.0
122987,2560000US1995T00100,6/9/2020,Tribal Land,"T001, Los Coyotes",Tribal Land,Tribal Tract,0.0,0.0,0.0
122998,2560000US2147T00100,6/9/2020,Tribal Land,"T001, Mashpee Wampanoag",Tribal Land,Tribal Tract,0.0,0.0,0.0
123001,2560000US2190T00100,6/9/2020,Tribal Land,"T001, Mesa Grande",Tribal Land,Tribal Tract,0.0,0.0,0.0
123086,2560000US2695T00100,6/9/2020,Tribal Land,"T001, Passamaquoddy",Tribal Land,Tribal Tract,0.0,0.0,0.0

## States

In [119]:
# response rate by state
is_states = merged['Geo_Type'] == 'State'
states = merged[is_states]
states = states.rename(columns={"internet": "state_internet", "not_int" : "state_not_int", "2020_rate": "2020_state_rate"})

# highest cumulative response rate (CRRALL)
states.sort_values(by='2020_state_rate', ascending=False)

,GEO_ID,RESP_DATE,State,Geo_Name,Region,Geo_Type,state_internet,state_not_int,2020_state_rate
55595,0400000US27,6/9/2020,Minnesota,Minnesota,Midwest,State,59.5,11.0,70.5
117774,0400000US55,6/9/2020,Wisconsin,Wisconsin,Midwest,State,56.2,11.7,67.9
38079,0400000US19,6/9/2020,Iowa,Iowa,Midwest,State,53.1,14.3,67.4
50831,0400000US26,6/9/2020,Michigan,Michigan,Midwest,State,52.9,14.4,67.3
64533,0400000US31,6/9/2020,Nebraska,Nebraska,Midwest,State,53.4,13.5,66.9
114850,0400000US53,6/9/2020,Washington,Washington,West,State,57.7,8.4,66.1
112324,0400000US51,6/9/2020,Virginia,Virginia,South,State,54.2,11.7,65.9
82562,0400000US39,6/9/2020,Ohio,Ohio,Midwest,State,50.9,14.9,65.8
28633,0400000US17,6/9/2020,Illinois,Illinois,Midwest,State,53.9,11.9,65.8
34724,0400000US18,6/9/2020,Indiana,Indiana,Midwest,State,50.4,15.1,65.5
47228,0400000US24,6/9/2020,Maryland,Maryland,South,State,55.8,9.4,65.2
40003,0400000US20,6/9/2020,Kansas,Kansas,Midwest,State,51.1,13.6,64.7
16869,0400000US09,6/9/2020,Connecticut,Connecticut,Northeast,State,53.4,11.1,64.5
110847,0400000US49,6/9/2020,Utah,Utah,West,State,59.5,4.8,64.3
42735,0400000US21,6/9/2020,Kentucky,Kentucky,South,State,47.8,16.5,64.3
91181,0400000US42,6/9/2020,Pennsylvania,Pennsylvania,Northeast,State,50.3,13.5,63.8
89907,0400000US41,6/9/2020,Oregon,Oregon,West,State,53.0,10.5,63.5
15097,0400000US08,6/9/2020,Colorado,Colorado,West,State,55.4,7.9,63.3
67437,0400000US34,6/9/2020,New Jersey,New Jersey,Northeast,State,53.5,9.5,63.0
27931,0400000US16,6/9/2020,Idaho,Idaho,West,State,53.7,9.3,63.0
48873,0400000US25,6/9/2020,Massachusetts,Massachusetts,Midwest,State,53.2,9.7,62.9
5448,0400000US06,6/9/2020,California,California,West,State,52.0,10.0,62.0
61053,0400000US29,6/9/2020,Missouri,Missouri,Midwest,State,46.9,14.1,61.0
100434,0400000US47,6/9/2020,Tennessee,Tennessee,South,State,45.1,15.7,60.8
99143,0400000US46,6/9/2020,South Dakota,South Dakota,Midwest,State,48.5,11.8,60.3
66032,0400000US32,6/9/2020,Nevada,Nevada,West,State,50.3,9.7,60.0
81089,0400000US38,6/9/2020,North Dakota,North Dakota,Midwest,State,49.1,10.6,59.7
66842,0400000US33,6/9/2020,New Hampshire,New Hampshire,Northeast,State,50.6,9.0,59.6
17931,0400000US10,6/9/2020,Delaware,Delaware,South,State,48.5,10.6,59.1
97218,0400000US44,6/9/2020,Rhode Island,Rhode Island,Northeast,State,46.7,12.2,58.9
5,0400000US01,6/9/2020,Alabama,Alabama,South,State,40.9,17.9,58.8
18456,0400000US12,6/9/2020,Florida,Florida,South,State,45.7,12.6,58.3
77793,0400000US37,6/9/2020,North Carolina,North Carolina,South,State,44.9,12.2,57.1
18250,0400000US11,6/9/2020,District of Columbia,District of Columbia,South,State,49.7,7.4,57.1
2197,0400000US04,6/9/2020,Arizona,Arizona,West,State,47.3,9.8,57.1
24001,0400000US13,6/9/2020,Georgia,Georgia,South,State,45.8,11.2,57.0
70925,0400000US36,6/9/2020,New York,New York,Northeast,State,44.9,11.2,56.1
59796,0400000US28,6/9/2020,Mississippi,Mississippi,South,State,34.0,22.0,56.0
27501,0400000US15,6/9/2020,Hawaii,Hawaii,West,State,45.7,9.9,55.6
97521,0400000US45,6/9/2020,South Carolina,South Carolina,South,State,41.2,14.4,55.6
102563,0400000US48,6/9/2020,Texas,Texas,South,State,45.6,9.9,55.5
4047,0400000US05,6/9/2020,Arkansas,Arkansas,South,State,37.2,18.2,55.4
44576,0400000US22,6/9/2020,Louisiana,Louisiana,South,State,39.7,15.3,55.0
88050,0400000US40,6/9/2020,Oklahoma,Oklahoma,South,State,40.6,13.7,54.3
64029,0400000US30,6/9/2020,Montana,Montana,West,State,40.8,11.0,51.8
111836,0400000US50,6/9/2020,Vermont,Vermont,Northeast,State,41.0,10.5,51.5
46322,0400000US23,6/9/2020,Maine,Maine,Northeast,State,38.3,12.6,50.9
121227,0400000US56,6/9/2020,Wyoming,Wyoming,West,State,42.1,8.7,50.8
70196,0400000US35,6/9/2020,New Mexico,New Mexico,West,State,38.3,10.1,48.4
116938,0400000US54,6/9/2020,West Virginia,West Virginia,South,State,33.9,14.3,48.2
1970,0400000US02,6/9/2020,Alaska,Alaska,West,State,36.6,4.9,41.5
121508,0400000US72,6/9/2020,Puerto Rico,Puerto Rico,Puerto Rico,State,8.5,0.6,9.1

In [120]:
# highest non-internet response rate (not_int)
states.sort_values(by='state_not_int', ascending=False)

,GEO_ID,RESP_DATE,State,Geo_Name,Region,Geo_Type,state_internet,state_not_int,2020_state_rate
59796,0400000US28,6/9/2020,Mississippi,Mississippi,South,State,34.0,22.0,56.0
4047,0400000US05,6/9/2020,Arkansas,Arkansas,South,State,37.2,18.2,55.4
5,0400000US01,6/9/2020,Alabama,Alabama,South,State,40.9,17.9,58.8
42735,0400000US21,6/9/2020,Kentucky,Kentucky,South,State,47.8,16.5,64.3
100434,0400000US47,6/9/2020,Tennessee,Tennessee,South,State,45.1,15.7,60.8
44576,0400000US22,6/9/2020,Louisiana,Louisiana,South,State,39.7,15.3,55.0
34724,0400000US18,6/9/2020,Indiana,Indiana,Midwest,State,50.4,15.1,65.5
82562,0400000US39,6/9/2020,Ohio,Ohio,Midwest,State,50.9,14.9,65.8
97521,0400000US45,6/9/2020,South Carolina,South Carolina,South,State,41.2,14.4,55.6
50831,0400000US26,6/9/2020,Michigan,Michigan,Midwest,State,52.9,14.4,67.3
116938,0400000US54,6/9/2020,West Virginia,West Virginia,South,State,33.9,14.3,48.2
38079,0400000US19,6/9/2020,Iowa,Iowa,Midwest,State,53.1,14.3,67.4
61053,0400000US29,6/9/2020,Missouri,Missouri,Midwest,State,46.9,14.1,61.0
88050,0400000US40,6/9/2020,Oklahoma,Oklahoma,South,State,40.6,13.7,54.3
40003,0400000US20,6/9/2020,Kansas,Kansas,Midwest,State,51.1,13.6,64.7
64533,0400000US31,6/9/2020,Nebraska,Nebraska,Midwest,State,53.4,13.5,66.9
91181,0400000US42,6/9/2020,Pennsylvania,Pennsylvania,Northeast,State,50.3,13.5,63.8
46322,0400000US23,6/9/2020,Maine,Maine,Northeast,State,38.3,12.6,50.9
18456,0400000US12,6/9/2020,Florida,Florida,South,State,45.7,12.6,58.3
77793,0400000US37,6/9/2020,North Carolina,North Carolina,South,State,44.9,12.2,57.1
97218,0400000US44,6/9/2020,Rhode Island,Rhode Island,Northeast,State,46.7,12.2,58.9
28633,0400000US17,6/9/2020,Illinois,Illinois,Midwest,State,53.9,11.9,65.8
99143,0400000US46,6/9/2020,South Dakota,South Dakota,Midwest,State,48.5,11.8,60.3
117774,0400000US55,6/9/2020,Wisconsin,Wisconsin,Midwest,State,56.2,11.7,67.9
112324,0400000US51,6/9/2020,Virginia,Virginia,South,State,54.2,11.7,65.9
70925,0400000US36,6/9/2020,New York,New York,Northeast,State,44.9,11.2,56.1
24001,0400000US13,6/9/2020,Georgia,Georgia,South,State,45.8,11.2,57.0
16869,0400000US09,6/9/2020,Connecticut,Connecticut,Northeast,State,53.4,11.1,64.5
64029,0400000US30,6/9/2020,Montana,Montana,West,State,40.8,11.0,51.8
55595,0400000US27,6/9/2020,Minnesota,Minnesota,Midwest,State,59.5,11.0,70.5
81089,0400000US38,6/9/2020,North Dakota,North Dakota,Midwest,State,49.1,10.6,59.7
17931,0400000US10,6/9/2020,Delaware,Delaware,South,State,48.5,10.6,59.1
111836,0400000US50,6/9/2020,Vermont,Vermont,Northeast,State,41.0,10.5,51.5
89907,0400000US41,6/9/2020,Oregon,Oregon,West,State,53.0,10.5,63.5
70196,0400000US35,6/9/2020,New Mexico,New Mexico,West,State,38.3,10.1,48.4
5448,0400000US06,6/9/2020,California,California,West,State,52.0,10.0,62.0
27501,0400000US15,6/9/2020,Hawaii,Hawaii,West,State,45.7,9.9,55.6
102563,0400000US48,6/9/2020,Texas,Texas,South,State,45.6,9.9,55.5
2197,0400000US04,6/9/2020,Arizona,Arizona,West,State,47.3,9.8,57.1
66032,0400000US32,6/9/2020,Nevada,Nevada,West,State,50.3,9.7,60.0
48873,0400000US25,6/9/2020,Massachusetts,Massachusetts,Midwest,State,53.2,9.7,62.9
67437,0400000US34,6/9/2020,New Jersey,New Jersey,Northeast,State,53.5,9.5,63.0
47228,0400000US24,6/9/2020,Maryland,Maryland,South,State,55.8,9.4,65.2
27931,0400000US16,6/9/2020,Idaho,Idaho,West,State,53.7,9.3,63.0
66842,0400000US33,6/9/2020,New Hampshire,New Hampshire,Northeast,State,50.6,9.0,59.6
121227,0400000US56,6/9/2020,Wyoming,Wyoming,West,State,42.1,8.7,50.8
114850,0400000US53,6/9/2020,Washington,Washington,West,State,57.7,8.4,66.1
15097,0400000US08,6/9/2020,Colorado,Colorado,West,State,55.4,7.9,63.3
18250,0400000US11,6/9/2020,District of Columbia,District of Columbia,South,State,49.7,7.4,57.1
1970,0400000US02,6/9/2020,Alaska,Alaska,West,State,36.6,4.9,41.5
110847,0400000US49,6/9/2020,Utah,Utah,West,State,59.5,4.8,64.3
121508,0400000US72,6/9/2020,Puerto Rico,Puerto Rico,Puerto Rico,State,8.5,0.6,9.1

#### State stats

In [12]:
states.mean(axis=0)['state_not_int']

11.63076923076923

In [121]:
states.mean(axis=0)['state_internet']

47.101923076923065

In [122]:
states.mean(axis=0)['2020_state_rate']

58.73269230769233

In [123]:
# average by region
# NOTE as tribal tracts are not assigned to a state they do not have a corresponding region and thus are not counted in the regional calculations
states.groupby('Region').mean().sort_values(by='2020_state_rate', ascending=False)

             state_internet  state_not_int  2020_state_rate
Region
Midwest           52.238462      12.815385        65.053846
Northeast         47.337500      11.200000        58.537500
South             44.152941      13.705882        57.858824
West              48.646154       8.846154        57.492308
Puerto Rico        8.500000       0.600000         9.100000

#### State stats without Puerto Rico

In [124]:
no_pr = states[states.State != 'Puerto Rico']

# average non internet response rate
no_pr.mean(axis=0)['state_not_int']

11.84705882352941

In [125]:
# average internet response
no_pr.mean(axis=0)['state_internet']

47.85882352941175

In [126]:
# average overall response rate
no_pr.mean(axis=0)['2020_state_rate']

59.7058823529412

In [127]:
# average region response rate (so south now excludes Puerto Rico)
no_pr.groupby('Region').mean().sort_values(by='2020_state_rate', ascending=False)

           state_internet  state_not_int  2020_state_rate
Region
Midwest         52.238462      12.815385        65.053846
Northeast       47.337500      11.200000        58.537500
South           44.152941      13.705882        57.858824
West            48.646154       8.846154        57.492308

## Compare to 2010 response rates

### 2010 to 2020 State Response Differences

In [128]:
# read in csvs with 2010 response data for tracts and states
rates2010 = pd.read_csv('2010responserate.csv')
rates2010 = rates2010.rename(columns={'FSRR2010':'2010_rate'})
rates2010

,NAME,county,State,GEO_ID,2010_rate,state_num,county_num,tract
0,Census Tract 201,Autauga County,Alabama,1400000US01001020100,70.6,1,1,20100
1,Census Tract 202,Autauga County,Alabama,1400000US01001020200,70.1,1,1,20200
2,Census Tract 203,Autauga County,Alabama,1400000US01001020300,73.6,1,1,20300
3,Census Tract 204,Autauga County,Alabama,1400000US01001020400,78.4,1,1,20400
4,Census Tract 205.01,Autauga County,Alabama,1400000US01001020501,81.2,1,1,20501
...,...,...,...,...,...,...,...,...
84514,Census Tract 7505.01,Yauco Municipio,Puerto Rico,1400000US72153750501,70.4,72,153,750501
84515,Census Tract 7505.02,Yauco Municipio,Puerto Rico,1400000US72153750502,73.4,72,153,750502
84516,Census Tract 7505.03,Yauco Municipio,Puerto Rico,1400000US72153750503,63.4,72,153,750503
84517,Census Tract 7506.01,Yauco Municipio,Puerto Rico,1400000US72153750601,67.1,72,153,750601
84518,Census Tract 7506.02,Yauco Municipio,Puerto Rico,1400000US72153750602,57.8,72,153,750602

In [129]:
## difference in row numbers: both tract dfs have 84519 rows, but when joined only 84093
# Identify what values are in rates2010 and not in tracts
key_diff1 = set(rates2010.GEO_ID).difference(tracts.GEO_ID)
len(key_diff1)
key_diff1

# Identify what values are in tracts and not in rates2010
key_diff2 = set(tracts.GEO_ID).difference(rates2010.GEO_ID)
len(key_diff2)
key_diff2

{'2560000US0010T00100',
 '2560000US0020T00100',
 '2560000US0020T00200',
 '2560000US0020T00300',
 '2560000US0020T00400',
 '2560000US0020T00500',
 '2560000US0020T00600',
 '2560000US0020T00700',
 '2560000US0020T00800',
 '2560000US0020T00900',
 '2560000US0020T01000',
 '2560000US0050T00100',
 '2560000US0080T00100',
 '2560000US0080T00200',
 '2560000US0110T00100',
 '2560000US0115T00100',
 '2560000US0140T00100',
 '2560000US0155T00100',
 '2560000US0165T00100',
 '2560000US0170T00100',
 '2560000US0185T00100',
 '2560000US0200T00100',
 '2560000US0225T00100',
 '2560000US0250T00100',
 '2560000US0265T00100',
 '2560000US0275T00100',
 '2560000US0290T00100',
 '2560000US0305T00100',
 '2560000US0305T00200',
 '2560000US0305T00300',
 '2560000US0325T00100',
 '2560000US0335T00100',
 '2560000US0350T00100',
 '2560000US0360T00100',
 '2560000US0400T00100',
 '2560000US0415T00100',
 '2560000US0435T00100',
 '2560000US0440T00100',
 '2560000US0450T00100',
 '2560000US0510T00100',
 '2560000US0525T00100',
 '2560000US0540T00100',
 '2560000US0560T00100',
 '2560000US0575T00100',
 '2560000US0585T00100',
 '2560000US0605T00100',
 '2560000US0605T00200',
 '2560000US0635T00100',
 '2560000US0680T00100',
 '2560000US0695T00100',
 '2560000US0705T00100',
 '2560000US0705T00200',
 '2560000US0720T00100',
 '2560000US0735T00100',
 '2560000US0735T00200',
 '2560000US0750T00100',
 '2560000US0760T00100',
 '2560000US0760T00200',
 '2560000US0760T00300',
 '2560000US0770T00100',
 '2560000US0775T00100',
 '2560000US0795T00100',
 '2560000US0815T00100',
 '2560000US0825T00100',
 '2560000US0845T00100',
 '2560000US0845T00200',
 '2560000US0855T00100',
 '2560000US0940T00100',
 '2560000US0965T00100',
 '2560000US0975T00100',
 '2560000US0990T00100',
 '2560000US0990T00200',
 '2560000US1005T00100',
 '2560000US1010T00100',
 '2560000US1040T00100',
 '2560000US1070T00100',
 '2560000US1075T00100',
 '2560000US1100T00100',
 '2560000US1110T00100',
 '2560000US1110T00200',
 '2560000US1110T00300',
 '2560000US1110T00400',
 '2560000US1110T00500',
 '2560000US1110T00600',
 '2560000US1110T00700',
 '2560000US1125T00100',
 '2560000US1125T00200',
 '2560000US1140T00100',
 '2560000US1140T00200',
 '2560000US1140T00300',
 '2560000US1150T00100',
 '2560000US1160T00100',
 '2560000US1160T00200',
 '2560000US1170T00100',
 '2560000US1185T00100',
 '2560000US1195T00100',
 '2560000US1210T00100',
 '2560000US1220T00100',
 '2560000US1235T00100',
 '2560000US1250T00100',
 '2560000US1250T00200',
 '2560000US1250T00300',
 '2560000US1260T00100',
 '2560000US1280T00100',
 '2560000US1310T00100',
 '2560000US1310T00200',
 '2560000US1340T00100',
 '2560000US1355T00100',
 '2560000US1365T00100',
 '2560000US1370T00100',
 '2560000US1395T00100',
 '2560000US1400T00100',
 '2560000US1410T00100',
 '2560000US1440T00100',
 '2560000US1450T00100',
 '2560000US1460T00100',
 '2560000US1475T00100',
 '2560000US1490T00100',
 '2560000US1505T00100',
 '2560000US1505T00200',
 '2560000US1515T00100',
 '2560000US1530T00100',
 '2560000US1545T00100',
 '2560000US1550T00100',
 '2560000US1555T00100',
 '2560000US1575T00100',
 '2560000US1590T00100',
 '2560000US1610T00100',
 '2560000US1610T00200',
 '2560000US1610T00300',
 '2560000US1610T00400',
 '2560000US1610T00500',
 '2560000US1610T00600',
 '2560000US1625T00100',
 '2560000US1685T00100',
 '2560000US1700T00100',
 '2560000US1720T00100',
 '2560000US1735T00100',
 '2560000US1750T00100',
 '2560000US1770T00100',
 '2560000US1775T00100',
 '2560000US1785T00100',
 '2560000US1800T00100',
 '2560000US1815T00100',
 '2560000US1815T00200',
 '2560000US1825T00100',
 '2560000US1825T00200',
 '2560000US1830T00100',
 '2560000US1840T00100',
 '2560000US1850T00100',
 '2560000US1860T00100',
 '2560000US1860T00200',
 '2560000US1860T00300',
 '2560000US1880T00100',
 '2560000US1880T00200',
 '2560000US1915T00100',
 '2560000US1925T00100',
 '2560000US1940T00100',
 '2560000US1940T00200',
 '2560000US1940T00300',
 '2560000US1960T00100',
 '2560000US1963T00100',
 '2560000US1970T00100',
 '2560000US1995T00100',
 '2560000US2015T00100',
 '2560000US2030T00100',
 '2560000US2040T00100',
 '2560000US2055T00100',
 '2560000US2070T00100',
 '2560000US2085T00100',
 '2560000US2100T00100',
 '2560000US2115T00100',
 '2560000US2130T00100',
 '2560000US2145T00100',
 '2560000US2147T00100',
 '2560000US2175T00100',
 '2560000US2175T00200',
 '2560000US2190T00100',
 '2560000US2205T00100',
 '2560000US2270T00100',
 '2560000US2270T00200',
 '2560000US2270T00300',
 '2560000US2300T00100',
 '2560000US2300T00200',
 '2560000US2300T00300',
 '2560000US2315T00100',
 '2560000US2320T00100',
 '2560000US2340T00100',
 '2560000US2360T00100',
 '2560000US2375T00100',
 '2560000US2375T00200',
 '2560000US2400T00100',
 '2560000US2430T00100',
 '2560000US2430T00200',
 '2560000US2430T00300',
 '2560000US2430T00400',
 '2560000US2430T00500',
 '2560000US2430T00600',
 '2560000US2430T00700',
 '2560000US2430T00800',
 '2560000US2430T00900',
 '2560000US2430T01000',
 '2560000US2430T01100',
 '2560000US2430T01200',
 '2560000US2430T01300',
 '2560000US2430T01400',
 '2560000US2430T01500',
 '2560000US2430T01600',
 '2560000US2430T01700',
 '2560000US2430T01800',
 '2560000US2430T01900',
 '2560000US2430T02000',
 '2560000US2430T02100',
 '2560000US2430T02200',
 '2560000US2430T02300',
 '2560000US2430T02400',
 '2560000US2430T02500',
 '2560000US2430T02600',
 '2560000US2430T02700',
 '2560000US2430T02800',
 '2560000US2430T02900',
 '2560000US2430T03000',
 '2560000US2430T03100',
 '2560000US2430T03200',
 '2560000US2430T03300',
 '2560000US2430T03400',
 '2560000US2430T03500',
 '2560000US2430T03600',
 '2560000US2430T03700',
 '2560000US2430T03800',
 '2560000US2445T00100',
 '2560000US2445T00200',
 '2560000US2445T00300',
 '2560000US2445T00400',
 '2560000US2445T00500',
 '2560000US2460T00100',
 '2560000US2475T00100',
 '2560000US2490T00100',
 '2560000US2495T00100',
 '2560000US2510T00100',
 '2560000US2510T00200',
 '2560000US2550T00100',
 '2560000US2555T00100',
 '2560000US2560T00100',
 '2560000US2560T00200',
 '2560000US2560T00300',
 '2560000US2560T00400',
 '2560000US2560T00500',
 '2560000US2570T00100',
 '2560000US2595T00100',
 '2560000US2595T00200',
 '2560000US2595T00300',
 '2560000US2595T00400',
 '2560000US2595T00500',
 '2560000US2595T00600',
 '2560000US2595T00700',
 '2560000US2595T00800',
 '2560000US2595T00900',
 '2560000US2595T01000',
 '2560000US2625T00100',
 '2560000US2635T00100',
 '2560000US2680T00100',
 '2560000US2695T00100',
 '2560000US2715T00100',
 '2560000US2745T00100',
 '2560000US2760T00100',
 '2560000US2775T00100',
 '2560000US2785T00100',
 '2560000US2810T00100',
 '2560000US2810T00200',
 '2560000US2810T00300',
 '2560000US2810T00400',
 '2560000US2810T00500',
 '2560000US2820T00100',
 '2560000US2850T00100',
 '2560000US2865T00100',
 '2560000US2890T00100',
 '2560000US2910T00100',
 '2560000US2925T00100',
 '2560000US2925T00200',
 '2560000US2980T00100',
 '2560000US2985T00100',
 '2560000US2990T00100',
 '2560000US3000T00100',
 '2560000US3000T00200',
 '2560000US3000T00400',
 '2560000US3000T00500',
 '2560000US3000T00600',
 '2560000US3000T00700',
 '2560000US3000T00800',
 '2560000US3010T00100',
 '2560000US3020T00100',
 '2560000US3030T00100',
 '2560000US3040T00100',
 '2560000US3095T00100',
 '2560000US3100T00200',
 '2560000US3100T00300',
 '2560000US3115T00100',
 '2560000US3130T00100',
 '2560000US3165T00100',
 '2560000US3195T00100',
 '2560000US3205T00100',
 '2560000US3220T00100',
 '2560000US3235T00100',
 '2560000US3235T00200',
 '2560000US3250T00100',
 '2560000US3265T00100',
 '2560000US3280T00100',
 '2560000US3285T00100',
 '2560000US3305T00100',
 '2560000US3320T00100',
 '2560000US3340T00100',
 '2560000US3355T00100',
 '2560000US3355T00200',
 '2560000US3370T00100',
 '2560000US3400T00100',
 '2560000US3415T00100',
 '2560000US3445T00100',
 '2560000US3460T00100',
 '2560000US3480T00100',
 '2560000US3495T00100',
 '2560000US3495T00200',
 '2560000US3495T00300',
 '2560000US3520T00100',
 '2560000US3525T00100',
 '2560000US3540T00100',
 '2560000US3550T00100',
 '2560000US3565T00100',
 '2560000US3585T00100',
 '2560000US3625T00100',
 '2560000US3680T00100',
 '2560000US3735T00100',
 '2560000US3750T00100',
 '2560000US3780T00100',
 '2560000US3795T00100',
 '2560000US3825T00100',
 '2560000US3855T00100',
 '2560000US3870T00100',
 '2560000US3885T00100',
 '2560000US3925T00100',
 '2560000US3925T00200',
 '2560000US3925T00300',
 '2560000US3930T00100',
 '2560000US3935T00100',
 '2560000US3935T00200',
 '2560000US3940T00100',
 '2560000US3955T00100',
 '2560000US3970T00100',
 '2560000US3970T00200',
 '2560000US3980T00100',
 '2560000US3985T00100',
 '2560000US4060T00100',
 '2560000US4075T00100',
 '2560000US4090T00100',
 '2560000US4095T00100',
 '2560000US4110T00100',
 '2560000US4140T00100',
 '2560000US4170T00100',
 '2560000US4180T00100',
 '2560000US4200T00100',
 '2560000US4200T00200',
 '2560000US4200T00300',
 '2560000US4200T00400',
 '2560000US4225T00100',
 '2560000US4235T00100',
 '2560000US4255T00100',
 '2560000US4255T00200',
 '2560000US4275T00100',
 '2560000US4290T00100',
 '2560000US4290T00200',
 '2560000US4290T00300',
 '2560000US4290T00400',
 '2560000US4290T00500',
 '2560000US4290T00600',
 '2560000US4290T00700',
 '2560000US4300T00100',
 '2560000US4315T00100',
 '2560000US4330T00100',
 '2560000US4345T00100',
 '2560000US4345T00200',
 '2560000US4360T00100',
 '2560000US4390T00100',
 '2560000US4390T00200',
 '2560000US4390T00300',
 '2560000US4390T00400',
 '2560000US4390T00500',
 '2560000US4405T00100',
 '2560000US4430T00100',
 '2560000US4445T00100',
 '2560000US4455T00100',
 '2560000US4470T00100',
 '2560000US4500T00100',
 '2560000US4515T00100',
 '2560000US4530T00100',
 '2560000US4545T00100',
 '2560000US4560T00100',
 '2560000US4580T00100',
 '2560000US4595T00100',
 '2560000US4595T00200',
 '2560000US4595T00300',
 '2560000US4610T00100',
 '2560000US4610T00200',
 '2560000US4610T00300',
 '2560000US4610T00400',
 '2560000US4610T00500',
 '2560000US4610T00600',
 '2560000US4625T00100',
 '2560000US4635T00100',
 '2560000US4665T00100',
 '2560000US4680T00100',
 '2560000US4690T00100',
 '2560000US4690T00200',
 '2560000US4690T00300',
 '2560000US4690T00400',
 '2560000US4690T00500',
 '2560000US4700T00100',
 '2560000US4700T00200',
 '2560000US4708T00100',
 '2560000US4710T00100',
 '2560000US4725T00100',
 '2560000US4740T00100',
 '2560000US4755T00100',
 '2560000US4760T00100',
 '2560000US4770T00100',
 '2560000US4785T00100',
 '2560000US4785T00200'}

##### Conclusion: 2010 rates do not include tribal tracts while 2020 tracts are missing some tracts in a multitude of states, likely due to a change in tract boundaries. Those differences account for 426 tracts, which is .5% of the original 84519 tracts. As these tracts are small percentage of all tracts, they can be dropped.

In [160]:
# merge with 2020 tracts
tracts_merged = pd.merge(tracts, rates2010, on='GEO_ID')

cols = tracts_merged.columns.tolist()
cols = ['GEO_ID','Geo_Name','county', 'State_y', 'Region', '2020_rate', '2010_rate']
tracts_merged = tracts_merged[cols]
tracts_merged = tracts_merged.rename(columns={'State_y':'State'})
tracts_merged.sort_values(by='2010_rate', ascending=False)

,GEO_ID,Geo_Name,county,State,Region,2020_rate,2010_rate
10379,1400000US06071010906,"Tract 109.06, San Bernardino",San Bernardino County,California,West,2.9,100.0
48849,1400000US35035940000,"Tract 9400, Otero",Otero County,New Mexico,West,15.8,100.0
13467,1400000US08005980000,"Tract 9800, Arapahoe",Arapahoe County,Colorado,West,87.5,100.0
8287,1400000US06053980000,"Tract 9800, Monterey",Monterey County,California,West,0.7,100.0
6449,1400000US06037265301,"Tract 2653.01, Los Angeles",Los Angeles County,California,West,4.8,100.0
...,...,...,...,...,...,...,...
83055,1400000US56013940202,"Tract 9402.02, Fremont",Fremont County,Wyoming,West,17.9,NaN
83056,1400000US56013940301,"Tract 9403.01, Fremont",Fremont County,Wyoming,West,21.5,NaN
83057,1400000US56013940302,"Tract 9403.02, Fremont",Fremont County,Wyoming,West,31.6,NaN
83058,1400000US56013940400,"Tract 9404, Fremont",Fremont County,Wyoming,West,43.1,NaN
83059,1400000US56013940500,"Tract 9405, Fremont",Fremont County,Wyoming,West,30.4,NaN

In [161]:
#how many null 2010 response values are there: 531, which is .6% of all rows, 84093
is_no_2010 = tracts_merged.isnull()
no_2010 = is_no_2010.any(axis=1)
no_2010 = tracts_merged[no_2010]
no_2010.sort_values(by="2020_rate")

#due to the low percentage, these null values will be discarded
tracts_merged = tracts_merged.dropna(axis=0)
#check they'd discraded
tracts_merged.sort_values(by='2010_rate')
#there are no 2010 na values, so all were dropped

,GEO_ID,Geo_Name,county,State,Region,2020_rate,2010_rate
77029,1400000US50027966300,"Tract 9663, Windsor",Windsor County,Vermont,Northeast,17.3,0.0
48861,1400000US35039940800,"Tract 9408, Rio Arriba",Rio Arriba County,New Mexico,West,20.5,0.0
6111,1400000US06037207400,"Tract 2074, Los Angeles",Los Angeles County,California,West,25.8,0.0
21943,1400000US13089023115,"Tract 231.15, DeKalb",DeKalb County,Georgia,South,10.0,0.0
63439,1400000US42027012200,"Tract 122, Centre",Centre County,Pennsylvania,Northeast,17.6,0.0
...,...,...,...,...,...,...,...
13467,1400000US08005980000,"Tract 9800, Arapahoe",Arapahoe County,Colorado,West,87.5,100.0
24218,1400000US16001000703,"Tract 7.03, Ada",Ada County,Idaho,West,77.3,100.0
73376,1400000US48215020207,"Tract 202.07, Hidalgo",Hidalgo County,Texas,South,36.3,100.0
50116,1400000US36035970400,"Tract 9704, Fulton",Fulton County,New York,Northeast,13.4,100.0
49471,1400000US36005043500,"Tract 435, Bronx",Bronx County,New York,Northeast,60.6,100.0

In [162]:
tracts_merged['10-20 difference'] = tracts_merged['2010_rate'] - tracts_merged['2020_rate']
tracts_merged.sort_values(by='10-20 difference', ascending=False)

,GEO_ID,Geo_Name,county,State,Region,2020_rate,2010_rate,10-20 difference
8287,1400000US06053980000,"Tract 9800, Monterey",Monterey County,California,West,0.7,100.0,99.3
53795,1400000US36103159510,"Tract 1595.10, Suffolk",Suffolk County,New York,Northeast,0.8,100.0,99.2
7980,1400000US06037980021,"Tract 9800.21, Los Angeles",Los Angeles County,California,West,1.6,100.0,98.4
49059,1400000US36001000404,"Tract 4.04, Albany",Albany County,New York,Northeast,1.8,100.0,98.2
10379,1400000US06071010906,"Tract 109.06, San Bernardino",San Bernardino County,California,West,2.9,100.0,97.1
...,...,...,...,...,...,...,...,...
21302,1400000US13051010707,"Tract 107.07, Chatham",Chatham County,Georgia,South,67.7,2.4,-65.3
40288,1400000US26163982400,"Tract 9824, Wayne",Wayne County,Michigan,Midwest,83.1,16.7,-66.4
65389,1400000US42101036400,"Tract 364, Philadelphia",Philadelphia County,Pennsylvania,Northeast,80.2,13.5,-66.7
22281,1400000US13121003700,"Tract 37, Fulton",Fulton County,Georgia,South,67.3,0.0,-67.3
23292,1400000US13215010606,"Tract 106.06, Muscogee",Muscogee County,Georgia,South,98.1,0.0,-98.1

In [163]:
# average difference as of 6/9/20
tracts_merged.mean(axis=0)['10-20 difference']

7.510194825399082

In [137]:
# average difference by region
tracts_merged.groupby('Region').mean().sort_values(by='10-20 difference', ascending=False)

             2020_rate  2010_rate  10-20 difference
Region
Puerto Rico   9.131379  56.631705         47.500326
Northeast    59.578297  67.728176          8.149879
South        57.894541  66.022076          8.127535
West         61.518009  67.693454          6.175444
Midwest      65.484410  70.971303          5.486893

### 2010 to 2020 State Response Differences

In [165]:
# read in csvs with 2010 response data for states
states2010 = pd.read_csv('states2010.csv')

# merge with 2020 states
states_merged = pd.merge(states, states2010, on='State')
cols = states_merged.columns.tolist()
cols = ['GEO_ID', 'State', 'Region',
 '2020_state_rate', '2000_rate', '2010_rate']
states_merged = states_merged[cols]
states_merged['10-20 difference'] = states_merged['2010_rate'] - states_merged['2020_state_rate']
states_merged.sort_values(by='10-20 difference', ascending=False)

,GEO_ID,State,Region,2020_state_rate,2000_rate,2010_rate,10-20 difference
51,0400000US72,Puerto Rico,Puerto Rico,9.1,54,54,44.9
1,0400000US02,Alaska,West,41.5,67,64,22.5
40,0400000US45,South Carolina,South,55.6,68,75,19.4
33,0400000US37,North Carolina,South,57.1,69,76,18.9
50,0400000US56,Wyoming,West,50.8,75,69,18.2
45,0400000US50,Vermont,Northeast,51.5,68,69,17.5
19,0400000US23,Maine,Northeast,50.9,67,68,17.1
48,0400000US54,West Virginia,South,48.2,68,65,16.8
31,0400000US35,New Mexico,West,48.4,68,65,16.6
26,0400000US30,Montana,West,51.8,72,68,16.2
41,0400000US46,South Dakota,Midwest,60.3,80,76,15.7
9,0400000US12,Florida,South,58.3,71,74,15.7
43,0400000US48,Texas,South,55.5,70,71,15.5
42,0400000US47,Tennessee,South,60.8,72,76,15.2
10,0400000US13,Georgia,South,57.0,72,72,15.0
8,0400000US11,District of Columbia,South,57.1,69,72,14.9
34,0400000US38,North Dakota,Midwest,59.7,78,74,14.3
39,0400000US44,Rhode Island,Northeast,58.9,73,73,14.1
49,0400000US55,Wisconsin,Midwest,67.9,85,82,14.1
36,0400000US40,Oklahoma,South,54.3,71,68,13.7
3,0400000US05,Arkansas,South,55.4,70,69,13.6
14,0400000US18,Indiana,Midwest,65.5,79,79,13.5
29,0400000US33,New Hampshire,Northeast,59.6,74,73,13.4
38,0400000US42,Pennsylvania,Northeast,63.8,78,77,13.2
0,0400000US01,Alabama,South,58.8,68,72,13.2
25,0400000US29,Missouri,Midwest,61.0,76,74,13.0
12,0400000US16,Idaho,West,63.0,77,76,13.0
24,0400000US28,Mississippi,South,56.0,70,69,13.0
32,0400000US36,New York,Northeast,56.1,69,69,12.9
7,0400000US10,Delaware,South,59.1,71,72,12.9
17,0400000US21,Kentucky,South,64.3,72,77,12.7
37,0400000US41,Oregon,West,63.5,77,76,12.5
11,0400000US15,Hawaii,West,55.6,66,68,12.4
35,0400000US39,Ohio,Midwest,65.8,79,78,12.2
21,0400000US25,Massachusetts,Midwest,62.9,76,75,12.1
46,0400000US51,Virginia,South,65.9,76,78,12.1
2,0400000US04,Arizona,West,57.1,70,69,11.9
15,0400000US19,Iowa,Midwest,67.4,82,79,11.6
6,0400000US09,Connecticut,Northeast,64.5,78,76,11.5
16,0400000US20,Kansas,Midwest,64.7,78,76,11.3
4,0400000US06,California,West,62.0,76,73,11.0
30,0400000US34,New Jersey,Northeast,63.0,76,74,11.0
28,0400000US32,Nevada,West,60.0,71,71,11.0
20,0400000US24,Maryland,South,65.2,76,76,10.8
44,0400000US49,Utah,West,64.3,74,75,10.7
22,0400000US26,Michigan,Midwest,67.3,79,78,10.7
23,0400000US27,Minnesota,Midwest,70.5,81,81,10.5
13,0400000US17,Illinois,Midwest,65.8,76,76,10.2
27,0400000US31,Nebraska,Midwest,66.9,81,77,10.1
18,0400000US22,Louisiana,South,55.0,68,65,10.0
47,0400000US53,Washington,West,66.1,75,76,9.9
5,0400000US08,Colorado,West,63.3,75,72,8.7

In [145]:
# average difference as of 6/9/20
states_merged.mean(axis=0)['10-20 difference']

14.094230769230771

In [146]:
# average difference by region
states_merged.groupby('Region').mean().sort_values(by='10-20 difference', ascending=False)

             2020_state_rate  2000_rate  2010_rate  10-20 difference
Region
Puerto Rico         9.100000  54.000000  54.000000         44.900000
South              57.858824  70.647059  72.176471         14.317647
Northeast          58.537500  72.875000  72.375000         13.837500
West               57.492308  72.538462  70.923077         13.430769
Midwest            65.053846  79.230769  77.307692         12.253846

## Demographic Data

In [155]:
#load both sets of demographic data, join
demo1 = pd.read_csv('demographics1_working.csv')
demo2 = pd.read_csv('demographics2_working.csv')
demo = pd.merge(demo1, demo2, on=['GISJOIN', "YEAR", "STATE", "STATEA", 
                                              'COUNTY', 'COUNTYA', 'TRACTA', 
                                              'Geo_Name', 'NAME_E'])
demo

,GISJOIN,YEAR,STATE,STATEA,COUNTY,COUNTYA,TRACTA,Geo_Name,NAME_E,total_population,...,us_territory_born,us_born_abroad,us_naturalization,not_us_citizen,total_pr,pr_born,pr_us_born,pr_born_abroad,pr_naturalization,pr_not_us_citizen
0,G0100010020100,2014-2018,Alabama,1,Autauga County,1,20100,"Tract 201, Autauga","Tract 201, Autauga Alabama",1923,...,0.0,11.0,18.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
1,G0100010020200,2014-2018,Alabama,1,Autauga County,1,20200,"Tract 202, Autauga","Tract 202, Autauga Alabama",2028,...,0.0,10.0,15.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,G0100010020300,2014-2018,Alabama,1,Autauga County,1,20300,"Tract 203, Autauga","Tract 203, Autauga Alabama",3476,...,5.0,60.0,49.0,131.0,NaN,NaN,NaN,NaN,NaN,NaN
3,G0100010020400,2014-2018,Alabama,1,Autauga County,1,20400,"Tract 204, Autauga","Tract 204, Autauga Alabama",3831,...,0.0,30.0,30.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN
4,G0100010020500,2014-2018,Alabama,1,Autauga County,1,20500,"Tract 205, Autauga","Tract 205, Autauga Alabama",9883,...,0.0,124.0,328.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73971,G7201530750501,2014-2018,Puerto Rico,72,Yauco Municipio,153,750501,"Tract 7505.01, Yauco","Tract 7505.01, Yauco Puerto Rico",6303,...,NaN,NaN,NaN,NaN,6303.0,6148.0,135.0,0.0,0.0,20.0
73972,G7201530750502,2014-2018,Puerto Rico,72,Yauco Municipio,153,750502,"Tract 7505.02, Yauco","Tract 7505.02, Yauco Puerto Rico",2316,...,NaN,NaN,NaN,NaN,2316.0,2201.0,97.0,0.0,13.0,5.0
73973,G7201530750503,2014-2018,Puerto Rico,72,Yauco Municipio,153,750503,"Tract 7505.03, Yauco","Tract 7505.03, Yauco Puerto Rico",2244,...,NaN,NaN,NaN,NaN,2244.0,2164.0,35.0,34.0,6.0,5.0
73974,G7201530750601,2014-2018,Puerto Rico,72,Yauco Municipio,153,750601,"Tract 7506.01, Yauco","Tract 7506.01, Yauco Puerto Rico",4107,...,NaN,NaN,NaN,NaN,4107.0,4007.0,100.0,0.0,0.0,0.0
73975,G7201530750602,2014-2018,Puerto Rico,72,Yauco Municipio,153,750602,"Tract 7506.02, Yauco","Tract 7506.02, Yauco Puerto Rico",2511,...,NaN,NaN,NaN,NaN,2511.0,2492.0,10.0,0.0,9.0,0.0

In [164]:
df = pd.merge(tracts_merged, demo, on='Geo_Name')
df

,GEO_ID,Geo_Name,county,State,Region,2020_rate,2010_rate,10-20 difference,GISJOIN,YEAR,...,us_territory_born,us_born_abroad,us_naturalization,not_us_citizen,total_pr,pr_born,pr_us_born,pr_born_abroad,pr_naturalization,pr_not_us_citizen
0,1400000US01001020100,"Tract 201, Autauga",Autauga County,Alabama,South,64.3,70.6,6.3,G0100010020100,2014-2018,...,0.0,11.0,18.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1400000US01001020200,"Tract 202, Autauga",Autauga County,Alabama,South,65.6,70.1,4.5,G0100010020200,2014-2018,...,0.0,10.0,15.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1400000US01001020300,"Tract 203, Autauga",Autauga County,Alabama,South,73.8,73.6,-0.2,G0100010020300,2014-2018,...,5.0,60.0,49.0,131.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1400000US01001020400,"Tract 204, Autauga",Autauga County,Alabama,South,77.6,78.4,0.8,G0100010020400,2014-2018,...,0.0,30.0,30.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1400000US01001020600,"Tract 206, Autauga",Autauga County,Alabama,South,66.1,71.9,5.8,G0100010020600,2014-2018,...,0.0,25.0,21.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64408,1400000US72153750501,"Tract 7505.01, Yauco",Yauco Municipio,Puerto Rico,Puerto Rico,16.7,70.4,53.7,G7201530750501,2014-2018,...,NaN,NaN,NaN,NaN,6303.0,6148.0,135.0,0.0,0.0,20.0
64409,1400000US72153750502,"Tract 7505.02, Yauco",Yauco Municipio,Puerto Rico,Puerto Rico,21.4,73.4,52.0,G7201530750502,2014-2018,...,NaN,NaN,NaN,NaN,2316.0,2201.0,97.0,0.0,13.0,5.0
64410,1400000US72153750503,"Tract 7505.03, Yauco",Yauco Municipio,Puerto Rico,Puerto Rico,9.9,63.4,53.5,G7201530750503,2014-2018,...,NaN,NaN,NaN,NaN,2244.0,2164.0,35.0,34.0,6.0,5.0
64411,1400000US72153750601,"Tract 7506.01, Yauco",Yauco Municipio,Puerto Rico,Puerto Rico,11.1,67.1,56.0,G7201530750601,2014-2018,...,NaN,NaN,NaN,NaN,4107.0,4007.0,100.0,0.0,0.0,0.0
64412,1400000US72153750602,"Tract 7506.02, Yauco",Yauco Municipio,Puerto Rico,Puerto Rico,5.2,57.8,52.6,G7201530750602,2014-2018,...,NaN,NaN,NaN,NaN,2511.0,2492.0,10.0,0.0,9.0,0.0